name: Build Mission Planner

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2019

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Restore NuGet packages
      run: nuget restore MissionPlanner.sln -NonInteractive

    - name: Build Release x86
      run: msbuild MissionPlanner.sln /p:Configuration=Release /p:Platform=x86 /m

    - name: Upload Mission Planner
      uses: actions/upload-artifact@v4
      with:
        name: MissionPlanner-Release
        path: MissionPlanner/bin/Release/**
